# 03. Project Details

### Importando as bibliotecas

In [1]:
import sys
sys.path.append('..')
import pandas as pd
from ydata_profiling import ProfileReport
import functions.fn_stats as fn_stats
import params.consts as consts

### Lendo os datasets

In [2]:
df_movies = pd.read_csv(consts.DATASET_MOVIES, low_memory=False) # Armazenando o dataset em uma variável
df_ratings = pd.read_csv(consts.DATASET_RATINGS, low_memory=False) # Armazenando o dataset em uma variável

In [3]:
display(df_movies.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df_ratings.head(3)) # Exibindo as 3 primeiras linhas do dataset

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523

### Visualizando a quantidade de linhas e colunas dos datasets

In [4]:
display(df_movies.shape) # Visualizando a quantidade de linhas e colunas do dataset

display(df_ratings.shape) # Visualizando a quantidade de linhas e colunas do dataset

(45466, 24)

(26024289, 4)

### Visualizando os detalhes dos datasets

In [5]:
display(df_movies.info()) # Exibindo as informações das variáveis do dataset

display(df_ratings.info()) # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

None

### Visualizando as estatísticas das colunas numéricas

In [6]:
display(fn_stats.describe(df_movies)) # Usando a função que exibe as estatísticas das colunas numéricas

display(fn_stats.describe(df_ratings)) # Usando a função que exibe as estatísticas das colunas numéricas

            revenue  runtime  vote_average  vote_count
count      45460.00 45203.00      45460.00    45460.00
mean    11209348.54    94.13          5.62      109.90
std     64332246.74    38.41          1.92      491.31
min            0.00     0.00          0.00        0.00
25%            0.00    85.00          5.00        3.00
50%            0.00    95.00          6.00       10.00
75%            0.00   107.00          6.80       34.00
max   2787965087.00  1256.00         10.00    14075.00

None

           userId     movieId      rating     timestamp
count 26024289.00 26024289.00 26024289.00   26024289.00
mean    135037.09    15849.11        3.53 1171258432.69
std      78176.20    31085.26        1.07  205288870.28
min          1.00        1.00        0.50  789652004.00
25%      67164.00     1073.00        3.00  990754461.00
50%     135163.00     2583.00        3.50 1151715567.00
75%     202693.00     6503.00        4.00 1357577779.00
max     270896.00   176275.00        5.00 1501829870.00

None

### Visualizando as estatísticas da colunas categóricas

In [7]:
display(df_movies.describe(exclude='number')) # Exibindo as estatísticas das colunas categóricas

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,spoken_languages,status,tagline,title,video
count,45466,4494,45466,45466,7782,45466,45449,45455,45466,44512,45461,45080,45463,45463,45379,45460,45379,20412,45460,45460
unique,5,1698,1226,4069,7673,45436,45417,92,43373,44307,43758,45024,22708,2393,17336,1931,6,20283,42277,2
top,False,"{'id': 415931, 'name': 'The Bowery Boys', 'pos...",0,"[{'id': 18, 'name': 'Drama'}]",http://www.georgecarlin.com,141971,tt1180333,en,Hamlet,No overview found.,0.0,/5D7UBSEgdyONE6Lql6xS7s6OLcW.jpg,[],"[{'iso_3166_1': 'US', 'name': 'United States o...",2008-01-01,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Based on a true story.,Cinderella,False
freq,45454,29,36573,5000,12,3,3,32269,8,133,66,5,11875,17851,136,22395,45014,7,11,45367

### Verificando as colunas com valores nulos

In [8]:
display(df_movies.isnull().sum()) # Somando todos os valores nulos de cada coluna

display(df_ratings.isnull().sum()) # Somando todos os valores nulos de cada coluna

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

### Gerando o relatório Profile Report

In [9]:
profile = ProfileReport(df_movies) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_MOVIES_0) # Salvando o profile report na pasta reports em formato html

profile = ProfileReport(df_ratings) # Armazenando em uma variável o ProfileReport

profile.to_file(consts.EDA_RATINGS_0) # Salvando o profile report na pasta reports em formato html

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\mathe\AppData\Local\Programs\Python\Python312\Lib\site-packages\matplotlib\image.py:181: UserWarning: Data with more than 2**24 rows cannot be accurately displayed. Downsampling to less than 2**24 rows before displaying. To remove this warning, manually downsample your data.
  warnings.warn(msg.format(n='2**24 rows'))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Conclusões obtidas no relatório e as próximas ações para tratar o dataset

- **Colunas que devem ter o tipo de dados corrigido** 
    1. Dt_Customer
- **Colunas que devem ter valores nulos/vazios tratados** 
    1. Income
- **Colunas que devem ser convertidas de data para tempo/idade** 
    1. Dt_Cusomer => Days_Since_Enrolled
    2. Dt_Cusomer => Years_Since_Enrolled
    3. Year_Birth => Age
- **Colunas que devem ter categorias mescladas** 
    1. AgeGroup
    2. Marital_Status
- **Colunas que devem ser unificadas**
    1. Children => Kidhome e Teenhome
    2. MntTotal => MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts e MntGoldProds
    3. AcceptedCmpTotal => AcceptedCmp1, AcceptedCmp2, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5
    4. NumTotalPurchases => NumWebPurchases, NumCatalogPurchases, NumStorePurchases
- **Colunas que devem ser derivadas de outras**
    1. HasChildren => Children
    2. MntRegularProd => MntTotal e MntGoldProds
    3. HasAcceptedCmp => AcceptedCmpTotal
- **Colunas que devem ter valores outliers tratados** 
    1. Age
    2. Income
    3. MntTotal
- **Colunas que devem ser excluídas por valores únicos** 
    1. ID
- **Colunas que devem ser excluídas por valores constantes** 
    1. Z_CostContact
    2. Z_Revenue
- **Colunas que devem ser excluídas após serem utilizadas como apoio** 
    1. Dt_Cusomer
    2. Year_Birth
    3. Kidhome
    4. Teenhome
    5. MntWines
    6. MntFruits
    7. MntMeatProducts
    8. MntFishProducts
    9. MntSweetProducts
    10. AcceptedCmp1
    11. AcceptedCmp2
    12. AcceptedCmp3
    13. AcceptedCmp4
    14. AcceptedCmp5
    15. NumWebPurchases
    16. NumCatalogPurchases
    17. NumStorePurchases