# 04. Data Processing

### Importando as bibliotecas

In [1]:
import sys
import warnings
sys.path.append('..')
import pandas as pd
import functions.fn_stats as fn_stats
import functions.fn_charts as fn_charts
import params.consts as consts

### Ignorando os warnings irrelevantes

Ignorando os warnings indevidos que apareceram devido a cópia de dataframes para fazer ajustes nos dados. 

Obs: na primeira vez que fiz o projeto não houve esses avisos não, mas agora melhorando alguns pontos apareceu do nada. Tentei retirar mas continua dando esses avisos.

In [2]:
warnings.filterwarnings('ignore', category=pd.errors.SettingWithCopyWarning) # Ignorando os warnings do tipo SettingWithCopyWarning

### Armazenando os datasets em uma variável

In [3]:
df_movies = pd.read_csv(consts.DATASET_MOVIES, low_memory=False) # Armazenando o dataset em uma variável

df_ratings = pd.read_csv(consts.DATASET_RATINGS, low_memory=False) # Armazenando o dataset em uma variável

### Excluindo as colunas que contém valores únicos
- N/A

### Excluindo as colunas que contém valores constantes
- N/A

### Excluindo as colunas que contém valores vazios
- N/A

### Excluindo as colunas que contém muitos valores vazios
- N/A

### Excluindo as colunas que contém informações redundantes
- N/A

### Excluindo as colunas que contém informações irrelevantes
- N/A

In [4]:
df_movies = df_movies.drop([
    'adult',
    'belongs_to_collection',
    'budget',
    'genres',
    'homepage',
    'imdb_id',
    'overview',
    'popularity',
    'poster_path',
    'production_companies',
    'production_countries',
    'release_date',
    'revenue',
    'runtime',
    'spoken_languages',
    'status',
    'tagline',
    'title',
    'video',
    'vote_average',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas

In [5]:
df_ratings = df_ratings.drop([
    'timestamp',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas

### Excluindo as colunas que contém textos livres
- N/A

### Lendo os datasets tratados e visualizando o overview atual

In [6]:
pd.set_option('display.max_columns', None) # Alterando as configurações do Pandas para exibir mais de 20 colunas

display(df_movies.head(3)) # Exibindo as 3 primeiras linhas do dataset

display(df_ratings.head(3)) # Exibindo as 3 primeiras linhas do dataset

      id original_language    original_title  vote_count
0    862                en         Toy Story      5415.0
1   8844                en           Jumanji      2413.0
2  15602                en  Grumpier Old Men        92.0

   userId  movieId  rating
0       1      110     1.0
1       1      147     4.5
2       1      858     5.0

In [7]:
display(df_movies.shape) # Visualizando a quantidade de linhas e colunas do dataset

display(df_ratings.shape) # Visualizando a quantidade de linhas e colunas do dataset

(45466, 4)

(26024289, 3)

In [8]:
display(df_movies.info()) # Exibindo as informações das variáveis do dataset

display(df_ratings.info()) # Exibindo as informações das variáveis do dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45466 non-null  object
 1   original_language  45455 non-null  object
 2   original_title     45466 non-null  object
 3   vote_count         45460 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.4+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 595.6 MB

None

In [9]:
display(fn_stats.describe(df_movies)) # Usando a função que exibe as estatísticas das colunas numéricas

display(fn_stats.describe(df_ratings)) # Usando a função que exibe as estatísticas das colunas numéricas

       vote_count
count    45460.00
mean       109.90
std        491.31
min          0.00
25%          3.00
50%         10.00
75%         34.00
max      14075.00

None

           userId     movieId      rating
count 26024289.00 26024289.00 26024289.00
mean    135037.09    15849.11        3.53
std      78176.20    31085.26        1.07
min          1.00        1.00        0.50
25%      67164.00     1073.00        3.00
50%     135163.00     2583.00        3.50
75%     202693.00     6503.00        4.00
max     270896.00   176275.00        5.00

None

In [10]:
display(df_movies.describe(exclude='number')) # Exibindo as estatísticas das colunas categóricas

            id original_language original_title
count    45466             45455          45466
unique   45436                92          43373
top     141971                en         Hamlet
freq         3             32269              8

In [11]:
display(df_movies.isnull().sum()) # Somando todos os valores nulos de cada coluna

display(df_ratings.isnull().sum()) # Somando todos os valores nulos de cada coluna

id                    0
original_language    11
original_title        0
vote_count            6
dtype: int64

userId     0
movieId    0
rating     0
dtype: int64

### Tratando as colunas com valores nulos/vazios

In [12]:
df_movies = df_movies.dropna(subset=[
    'original_language',
    'vote_count',
]) # Removendo as linhas com valores nulos da coluna pois são poucos registros em relação à todo o dataset

### Corrigindo os tipos de dados das colunas

In [13]:
df_movies['id'] = df_movies['id'].astype(int) # Convertendo a coluna para o formato inteiro

### Criando colunas de tempo/idade
- N/A

### Mesclando colunas com muitas categorias
- N/A

### Unificando colunas semelhantes
- N/A

### Criando colunas derivadas de outras
- N/A

### Gerando um novo df_movies considerando apenas os filmes que receberam mais de 1.000 avaliações

In [14]:
df_movies = df_movies[df_movies['vote_count'] >= 1000] # Gerando um novo df apenas com os filmes com mais de 1000 avaliações

df_movies = df_movies[df_movies['original_language'] == 'en'] # Gerando um novo df apenas com os filmes em inglês

### Gerando um novo df_ratings considerando apenas os usuários que fizeram mais de 1.000 avaliações

In [15]:
users = df_ratings['userId'].value_counts() # Contando as ocorrências de cada usuário

filtered_users = users[users >= 1000].index # Filtrando os usuários com mais de 1000 avaliações

df_ratings = df_ratings[df_ratings['userId'].isin(filtered_users)] # Gerando um novo df apenas com as avaliações dos usuários com mais de 1000 avaliações

### Unificando os datasets

In [16]:
df = df_ratings.merge(df_movies, left_on='movieId', right_on='id') # Unificando os datasets pela coluna id do filme

### Removendo registros duplicados por userId e movieId

In [17]:
df = df.drop_duplicates(subset=['userId', 'movieId']) # Removendo as avaliações duplicadas de usuário por filmes

### Removendo as colunas de Id

In [18]:
df = df.drop([
    'movieId',
    'id',
    ], 
    axis=1 # Definindo que as colunas serão excluídas
) # Excluindo as colunas de id

### Visualizando o dataset antes de tratar outliers e excluir colunas

In [19]:
df.head(3) # Exibindo as 3 primeiras linhas do dataset

   userId  rating original_language       original_title  vote_count
0     229     1.0                en         Finding Nemo      6292.0
1     229     3.0                en  Million Dollar Baby      2519.0
2     229     3.0                en              Memento      4168.0

### Tratando as colunas com valores outliers
- N/A

### Excluindo as colunas auxiliares
- N/A

### Salvando o dataset lean

In [20]:
df.to_csv(consts.DATASET_LEAN, index=False) # Salvando o dataset lean